@charset "UTF-8";

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 680px; }

a img {
  border: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td, th {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #F0F0F0; } }

table.body {
  background: #F0F0F0;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 680px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 48px;
  padding-bottom: 0; }
  th.columns .columns.first {
    padding-left: 0 !important; }
  th.columns .columns.last {
    padding-right: 0 !important; }

th.columns.last {
  padding-right: 48px; }

th.columns table {
  width: 100%; }

th.large-1 {
  width: 8.66667px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-1.first {
  padding-left: 48px; }

th.large-1.last {
  padding-right: 48px; }

.body .columns th.large-1 {
  width: 8.33333%; }

th.large-4 {
  width: 178.66667px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-4.first {
  padding-left: 48px; }

th.large-4.last {
  padding-right: 48px; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-5 {
  width: 235.33333px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-5.last {
  padding-right: 48px; }

th.large-6 {
  width: 292px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-6.first {
  padding-left: 48px; }

th.large-6.last {
  padding-right: 48px; }

th.large-7 {
  width: 348.66667px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-7.first {
  padding-left: 48px; }

.body .columns th.large-7 {
  width: 58.33333%; }

th.large-12 {
  width: 632px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-12.first {
  padding-left: 48px; }

th.large-12.last {
  padding-right: 48px; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

@media only screen and (max-width: 728px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; } }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

.hide-for-large {
  display: none;
  mso-hide: all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0; }
  @media only screen and (max-width: 728px) {
    .hide-for-large {
      display: block !important;
      width: auto !important;
      overflow: visible !important;
      max-height: none !important;
      font-size: inherit !important;
      line-height: inherit !important; } }

table.body table.container .hide-for-large * {
  mso-hide: all; }

@media only screen and (max-width: 728px) {
  table.body table.container .hide-for-large {
    display: table !important;
    width: 100% !important; } }

@media only screen and (max-width: 728px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h1,
h2,
p,
td,
th {
  color: #0a0a0a;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2 {
  color: inherit;
  word-wrap: normal;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

a {
  color: #006EAA;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  a:hover {
    color: #004d77; }
  a:active {
    color: #004d77; }
  a:visited {
    color: #006EAA; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #F0F0F0;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 728px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 100% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 48px !important;
    padding-right: 48px !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  th.small-3 {
    display: inline-block !important;
    width: 25% !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

body,
html,
.body {
  background: #f3f3f3 !important; }

.header {
  background: #8a8a8a; }

.header .columns {
  padding-bottom: 0; }

/* Pulso Newsletter Custom Styles */
/* Vars */
.header {
  background-image: url(https://pulso-constitucional.netlify.app/assets/img/fondo-header.jpg) !important;
  background-color: #006EAA;
  background-size: cover;
  background-repeat: no-repeat;
  height: 310px; }
  .header .link-pulso, .header .fecha-newsletter {
    margin-top: 52px;
    display: block;
    margin-bottom: 48px; }
  .header .fecha-newsletter {
    margin-top: 60px;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.8); }
  .header h1 {
    color: #B4E2FF;
    font-size: 42px;
    margin-bottom: 24px;
    line-height: 1; }
    .header h1 strong {
      font-weight: 900; }
    .header h1 .bar {
      height: 3px;
      background-color: #FF6A00;
      display: block;
      width: 90px;
      margin-top: 16px; }

.cont-links a {
  color: #069 !important;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline; }

/* Footer */
.footer {
  background-color: #006EAA; }
  .footer.first.last {
    padding: 34px 48px !important; }
  .footer img {
    max-width: 240px; }
  .footer .acredita {
    max-width: 240px;
    float: right; }
  .footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1rem; }

hr {
  border: none;
  border-top: 1px solid #FFF;
  display: block;
  margin-top: 1px;
  margin-bottom: 1px; }

.direcciones {
  color: #FFF;
  font-size: 10px; }
  .direcciones a {
    color: #FFF;
    text-decoration: underline;
    display: block; }
  .direcciones strong {
    display: block;
    font-size: 12px; }

.redes-sociales img {
  float: right; }

/* Fondos Caja Artículos */
.blue-dark {
  background-color: #024970 !important; }

.blue-med {
  background-color: #4D91BD !important; }

.blue-light {
  background-color: #B8D0DD !important; }

.fecha-newsletter {
  text-align: right;
  display: block; }

/* Franja Acreditación */

.p-0 {
  padding: 0 !important; }

.personaje {
  margin-bottom: 24px; }

th.large-6 {
  width: 50%; }

/* Caja Articulo */
@media only screen and (max-width: 696px) {
  table.body .columns.cont-foto {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  table.body .columns.cont-foto img {
    width: 100% !important;
    height: 100% !important; }
  table.body img {
    width: 100%; }
  .header h1 {
    font-size: 36px; }
  .header .fecha-newsletter {
    margin-top: 0; }
  .footer .acredita {
    float: none; }
  .direcciones {
    margin-left: 20px; }
  .icon-img {
    max-width: 100%;
    width: auto !important; }
  .fecha-newsletter {
    text-align: left !important;
    margin-top: 0 !important; }
  .caja-articulo {
    width: 100% !important; } }

.caja-articulo {
  background-color: #1A72AA;
  padding: 32px 48px !important;
  width: 340px; }
  .caja-articulo a {
    color: #B8D0DD;
    hyphens: none; }
    .caja-articulo a strong {
      color: #FFF; }
  .caja-articulo .fecha {
    font-size: 14px; }
  .caja-articulo .nombre-personaje {
    font-size: 24px !important;
    color: #FFF; }
  .caja-articulo small {
    display: block;
    font-size: 14px; }
  .caja-articulo .articulo {
    color: #99C3DA;
    font-size: 18px;
    font-weight: 700;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  .caja-articulo .tipo-medio, .caja-articulo .nombre-medio {
    font-size: 16px;
    display: block; }
  .caja-articulo .tipo-medio {
    font-size: 14px; }

.caja-articulo-mobile a {
  color: #4D91BD;
  hyphens: none; }
  .caja-articulo-mobile a strong {
    color: #FFF; }

.caja-articulo-mobile .fecha {
  font-size: 14px; }

.caja-articulo-mobile .nombre-personaje {
  font-size: 24px !important;
  color: #FFF; }

.caja-articulo-mobile small {
  display: block;
  font-size: 14px; }

.caja-articulo-mobile .articulo {
  color: #99C3DA;
  font-size: 18px;
  font-weight: 700; }

.caja-articulo-mobile .tipo-medio, .caja-articulo-mobile .nombre-medio {
  font-size: 16px;
  display: block; }

.caja-articulo-mobile .tipo-medio {
  font-size: 14px; }

.caja-articulo-mobile .personaje, .caja-articulo-mobile .articulo {
  margin: 1rem 2rem; }

.caja-articulo.blue-med .nombre-personaje,
.caja-articulo-mobile.blue-med .nombre-personaje {
  color: #FFF !important; }

.caja-articulo.blue-med strong,
.caja-articulo-mobile.blue-med strong {
  color: #FFF !important; }

.caja-articulo.blue-med .fecha, .caja-articulo.blue-med .tipo-medio, .caja-articulo.blue-med .nombre-medio, .caja-articulo-mobile.blue-med .fecha, .caja-articulo-mobile.blue-med .tipo-medio, .caja-articulo-mobile.blue-med .nombre-medio {
  color: #B8D0DD !important; }

.caja-articulo.blue-light .nombre-personaje,
.caja-articulo-mobile.blue-light .nombre-personaje {
  color: #0069A2 !important; }

.caja-articulo.blue-light strong,
.caja-articulo-mobile.blue-light strong {
  color: #0069A2 !important;
  hyphens: none; }

.caja-articulo.blue-light .tipo-medio, .caja-articulo.blue-light .nombre-medio, .caja-articulo-mobile.blue-light .tipo-medio, .caja-articulo-mobile.blue-light .nombre-medio {
  color: #4D91BD !important; }

table.body .columns.cont-foto img {
  width: 340px;
  height: 340px; }
